Header{
  padding:1rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  background-color:rgb(255, 255, 255);
  padding:1rem;
  border-radius: 2rem;
  Font-size:150
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items:center;
}
nav a{
  padding:.5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}
nav a:hover{
  background-color: rgb(243, 85, 11);
  border-radius: 1rem;
  color: black;
}
Body{
  background-color: rgb(243, 85, 11);
  font-size: 145%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


